<footer class="footer" id="footer">
  <div class="container">
    Copyright © 2017, All Rights Reserved.
  </div>
</footer>

<link href="https://fonts.googleapis.com/css?family=Merriweather:400i|Montserrat:400,500,700|Open+Sans" rel="stylesheet">
<!--build:js js/main.min.js-->
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/modal-video.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!--endbuild-->
