  <header class="header" id="header">
    <div class="container header__container">
      <a href="/" class="header__logo">
        <img src="images/logo-icon.png" alt="logo-icon" class="header__logo-icon">
        <span class="header__logo-text">Semi</span>
      </a>
      <div class="row">
        <div class="col-md-12">
          <h2 class="header__title">Your service is ready for launch</h2>
          <p class="header__description">Whatever the level of support you require, we are sure that we will have a package that meets your needs.</p>
          <form action="" class="header-form">
            <input type="text" placeholder="Full Name" class="header-form__input" required>
            <input type="email" placeholder="@yoursite.com" class="header-form__input header-form__input--long" required>
            <button class="btn btn--square btn--gradient header-form__btn">Call to action</button>
          </form>
        </div>
      </div>
      <a href="#createlp" id="header__scroll-next" class="header__scroll-next">
        <span class="sprite-scroll-icon"></span>
      </a>
    </div>
  </header>
