<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<!--build:css css/style.min.css-->
<link href="css/style.css" type="text/css" rel="stylesheet" />
<!--endbuild-->

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
