@mixin smdesk {
  @media (min-width: #{$smdesk-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$smdesk-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin smphone {
  @media (min-width: 0) and (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

%transition {
	-webkit-transition: all $transition ease-in-out;
	-moz-transition: all $transition ease-in-out;
	-o-transition: all $transition ease-in-out;
	transition: all $transition ease-in-out;
}

%transition-fast {
	-webkit-transition: all $transition-fast ease-in-out;
	-moz-transition: all $transition-fast ease-in-out;
	-o-transition: all $transition-fast ease-in-out;
	transition: all $transition-fast ease-in-out;
}

%transition-delay-fast{
  -webkit-transition-delay: $transition-delay-fast;
  -moz-transition-delay: $transition-delay-fast;
  -o-transition-delay: $transition-delay-fast;
  transition-delay: $transition-delay-fast;
}

%transition-long {
	-webkit-transition: all $transition-long ease-in-out;
	-moz-transition: all $transition-long ease-in-out;
	-o-transition: all $transition-long ease-in-out;
	transition: all $transition-long ease-in-out;
}

%unselectable_text {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

%clearfix{
	&:before, &:after{
		content: '';
		display: table;
		clear: both;
	}
}

.scroll-outer{
	width: 100%;
	overflow: hidden;
}

.scroll-inner{
	width: calc(100% + 17px);
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

%text-overflow-elipses{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

%control-element{
	border-radius: $border-radius;
	height: $control-element-height;
	padding: $control-element-padding;
	line-height: $control-element-line-height;
	border: $control-element-border;
}

%gradient-left-right{
	background-color: $primary-mixed;
	background: linear-gradient(90deg, $primary-blue 0%, $primary-violet 100%);
}

%gradient-left-right-animation{
	@extend %gradient-left-right;
	background-size: 400% 400%;
	animation: gradient-animation 5s ease infinite;

	@keyframes gradient-animation {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
}

%gradient-top-bottom{
	background-color: $primary-mixed;
	background: linear-gradient(180deg, $primary-blue 0%, $primary-violet 100%);
}

%section-padding{
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	@include tablet{
		padding-top: $section-padding-tablet;
		padding-bottom: $section-padding-tablet;
	}
	@include phone{
		padding-top: $section-padding-phone;
		padding-bottom: $section-padding-phone;
	}
	@include smphone{
		padding-top: $section-padding-smphone;
		padding-bottom: $section-padding-smphone;
	}
}
