body{
  min-width: $smphone-width;
  width: 100%;
  min-height: 100vh;
  background: $background;
  color: $primary-black;
  font-family: $primary-font;
}

.page{

}

.container{

}

.header{
  position: relative;
  background-color: $header-background;
  &__container{
    padding-top: 270px;
    padding-bottom: 260px;
    position: relative;
    @include tablet{
      min-height: auto;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include phone{
      min-height: auto;
      padding-top: 70px;
      padding-bottom: 70px;
    }
    @include smphone{
      min-height: auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__logo{
    display: inline-block;
    text-transform: uppercase;
    color: $primary-white;
    font-family: $secondary-font;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px;
    @include tablet{
      top: 30px;
      left: 50%;
      margin-left: -50px;
      padding: 10px;
    }
    @include phone{
      top: 20px;
      left: 50%;
      margin-left: -50px;
      padding: 10px;
    }
    @include smphone{
      top: 0px;
      left: 50%;
      margin-left: -50px;
      padding: 10px;
    }
    &-icon{
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 27px;
    }
    &-text{
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
    }
  }
  &__title{
    font-family: $secondary-font;
    color: $primary-white;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.8px;
    @include tablet{
      font-size: 42px;
      line-height: 50px;
    }
    @include phone{
      font-size: 30px;
      line-height: 42px;
      padding: 0 60px;
    }
    @include smphone{
      font-size: 30px;
      line-height: 42px;
      padding: 0 20px;
    }
  }
  &__description{
    font-family: $primary-font;
    color: $primary-white;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    width: 620px;
    margin: 23px auto 78px;
    max-width: 100%;
    @include phone{
      padding: 0 40px;
      margin-bottom: 23px;
    }
    @include smphone{
      padding: 0 20px;
      margin-bottom: 23px;
    }
  }
  &-form{
    @extend %clearfix;
    padding: 0 55px;
    @include tablet{
      padding: 0 30px;
    }
    @include phone{
      padding: 0 30px;
    }
    @include smphone{
      padding: 0 30px;
    }
    &__input{
      display: block;
      float: left;
      background-color: rgba(255, 255, 255, 0.3);
      width: 200px;
      margin-right: 30px;
      color: $primary-white;
      &--long{
        width: 370px;
        @include tablet{
          width: 200px;
        }
      }
    	@include phone{
    		width: 100%;
    		margin-right: 0;
        margin-bottom: 10px;
    	}
    	@include smphone{
    		width: 100%;
    		margin-right: 0;
        margin-bottom: 10px;
    	}
    }
    &__btn{
      display: block;
      float: left;
    	@include phone{
    		width: 100%;
    	}
    	@include smphone{
    		width: 100%;
    	}
    }
  }
  &__scroll-next{
    @extend %transition-long;
    position: absolute;
    bottom: 64px;
    left: 50%;
    margin-left: -35px;
    padding: 25px;
    font-size: 0;
    @include tablet{
      bottom: 25px;
    }
    @include phone{
      bottom: 15px;
      padding: 15px;
      margin-left: -25px;
    }
    @include smphone{
      bottom: 0;
      padding: 10px;
      margin-left: -20px;
    }
    &:hover{
      transform: translateY(10px);
      @include phone{
        transform: none;
      }
      @include smphone{
        transform: none;
      }
    }
  }
}

.clients{
  padding: 20px 0;
  background-color: $semi-white;
  font-size: 0;
  text-align: center;
  &__item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 188px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 15px 0;
    @include tablet{
      width: 33%;
      height: 50px;
      line-height: 50px;
    }
    @include phone{
      width: 33%;
      height: 50px;
      line-height: 50px;
    }
    @include smphone{
      width: 50%;
      height: 50px;
      line-height: 50px;
    }
    &-img{
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.createlp{
  @extend %section-padding;
  @include phone{
    padding-top: 0;
  }
  @include smphone{
    padding-top: 0;
  }
  &__title{
    font-family: $secondary-font;
    color: $semi-black;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    margin-top: 20px;
    letter-spacing: 0.2px;
    @include tablet{
      line-height: 36px;
    }
    @include phone{
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
    @include smphone{
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }
  &__subtitle{
    text-transform: uppercase;
    font-family: $secondary-font;
    color: $semi-black;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 41px;
    @include tablet{
      margin-top: 28px;
      line-height: 20px;
    }
    @include phone{
      margin-top: 20px;
      text-align: center;
    }
    @include smphone{
      margin-top: 15px;
      text-align: center;
    }
  }
  &__description{
    color: $semi-gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
    max-width: 300px;
    @include phone{
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
    @include smphone{
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
  }
  &__video{
    &-holder{
      width: 100%;
      position: relative;
      font-size: 0;
      @include phone{
        width: 100%;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
      }
      @include smphone{
        width: 100%;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
      }
    }
    &-preview{
      width: 100%;
    }
    &-button{
      $button: &;
      @extend %transition-fast;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -35px;
      margin-left: -35px;
      width: 70px;
      height: 70px;
      text-align: center;
      border-radius: 50%;
      background-color: $primary-white;
      &:hover{
        border: 2px solid $semi-black;
      }
      &-icon{
        @extend %transition-fast;
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 12px;
        border-color: transparent transparent transparent $semi-black;
        #{$button}:hover > &{
          transform: scale(2);
          margin-left: -3px;
        }
      }
    }
  }
  &-step{
    padding-top: 70px;
    position: relative;
    padding-right: 30px;
    @include tablet{
      text-align: center;
      padding-top: 50px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
    @include phone{
      text-align: left;
      padding-top: 0px;
      padding-right: 10px;
      padding-left: 100px;
      &:not(:last-child){
        margin-bottom: 40px;
      }
    }
    @include smphone{
      text-align: center;
      padding-top: 40px;
      padding-right: 10px;
      &:not(:last-child){
        margin-bottom: 40px;
      }
    }
    &__icon{
      display: block;
      position: absolute;
      top: 0;
      left: 10px;
      @include tablet{
        left: 50%;
        transform: translateX(-50%);
      }
      @include phone{
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }
      @include smphone{
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__title{
      font-family: $secondary-font;
      color: $semi-black;
      font-size: 18px;
      font-weight: 500;
      line-height: 58px;
    }
    &__description{
      color: $semi-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.quote{
  background-color: $semi-white;
  & > .container{
    position: relative;
    padding-top: 155px;
    padding-bottom: 83px;
    @include tablet{
      padding-top: 95px;
    }
    @include phone{
      padding-top: 45px;
      padding-bottom: 20px;
    }
    @include smphone{
      padding-top: 200px;
      padding-bottom: 0;
    }
  }
  &__silhouette{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 40;
    @include tablet{
      left: 20px;
      width: 270px;
    }
    @include phone{
      left: auto;
      right: 10px;
      width: 260px;
    }
    @include smphone{
      left: auto;
      right: 10px;
    }
  }
  &-holder{
    position: relative;
    width: 440px;
    max-width: 100%;
    margin-left: 440px;
    z-index: 50;
    @include tablet{
      width: 400px;
      margin-left: 310px;
    }
    @include phone{
      width: 280px;
      margin-left: 0;
    }
    @include smphone{
      margin-left: -10px;
      margin-right: -10px;
      padding: 10px;
      max-width: none;
      width: auto;
      width: calc(100% + 20px);
      background: rgba(255, 255, 255, 0.6);
    }
  }
  &__text{
    font-family: $tertiary-font;
    color: $semi-gray;
    font-size: 20px;
    font-style: italic;
    line-height: 36px;
    @include smphone{
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__person{
    font-family: $secondary-font;
    color: #363636;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 25px;
    @include phone{
      margin-top: 45px;
    }
    @include smphone{
      margin-top: 5px;
      text-align: right;
      padding-right: 10px;
    }
  }
  &__company{
    color: $semi-gray;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    @include smphone{
      text-align: right;
      padding-right: 10px;
    }
  }
}

.plan{
  @extend %section-padding;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
  &-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    &:before, &:after{
      display: none;
    }
    &__item{
      order: 0;
      flex: 0 0 auto;
      align-self: auto;
    }
  }
  &__info{
    &-container{
      position: relative;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
      @include smdesk{
        padding-top: 75px;
        width: 290px;
      }
      @include tablet{
        padding-top: 0;
        margin-bottom: 40px;
      }
      @include phone{
        margin-bottom: 30px;
      }
      @include smphone{
        margin-bottom: 30px;
        text-align: center;
      }
    }
    &-title{
      font-family: $secondary-font;
      color: $semi-black;
      font-size: 36px;
      font-weight: 500;
      line-height: 46px;
      @include phone{
        font-size: 24px;
        line-height: 30px;
      }
      @include smphone{
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-description{
      color: $semi-gray;
      font-size: 18px;
      font-weight: 400;
      line-height: 29px;
      margin-top: 28px;
      @include phone{
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
      }
      @include smphone{
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-customization{
      color: $semi-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 29px;
      margin-top: 21px;
      @include phone{
        margin-top: 15px;
      }
      @include smphone{
        margin-top: 15px;
      }
    }
    &-link{
      color: $primary-violet;
      text-decoration: underline;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
    }
  }
  &__container{
    @extend %transition;
    position: relative;
    width: 300px;
    padding: 47px 50px 132px 50px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    @include smdesk{
      &:hover{
        transform: scale(1.05);
      }
      &:not(:last-child){
        margin-left: 30px;
        margin-right: 20px;
      }
    }
    @include tablet{
      width: 50%;
    }
    @include phone{
      width: 50%;
      padding: 30px 20px 80px;
    }
    @include smphone{
      width: 100%;
      padding: 30px 0px 80px;
    }
    &--highlighted{
      background-color: $semi-white;
      @include smdesk{
        &:hover{
          box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
        }
      }
    }
  }
  &__name{
    font-family: $secondary-font;
    color: $semi-black;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  &__price{
    font-family: $secondary-font;
    color: $primary-mixed;
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 16px;
    &-num{
      position: relative;
      @supports (-webkit-background-clip: text){
    		color: transparent;
    		background-color: $primary-mixed;
    		background-image: linear-gradient(180deg, $primary-blue 0%, $primary-violet 100%);
    		-webkit-background-clip: text;
      }
    }
    &-sup{
      position: absolute;
      right: -10px;
      top: 17px;
      font-family: $secondary-font;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      @supports (-webkit-background-clip: text){
    		color: transparent;
    		background-color: $primary-mixed;
    		background-image: linear-gradient(180deg, $primary-blue 0%, $primary-violet 100%);
    		-webkit-background-clip: text;
      }
    }
  }
  &__description{
    color: $semi-gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
  &__btn{
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -85px;
    letter-spacing: 0.1px;
    @include phone{
      bottom: 20px;
    }
    @include smphone{
      bottom: 20px;
    }
  }
}

.service{
  @extend %section-padding;
  @extend %gradient-left-right-animation;
  text-align: center;
  &__title{
    font-family: $secondary-font;
    color: $primary-white;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    @include phone{
      font-size: 30px;
    }
    @include smphone{
      font-size: 24px;
    }
  }
  &__description{
    color: $primary-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 30px auto 36px;
    @include phone{
      font-size: 16px;
      margin: 20px auto;
    }
    @include smphone{
      font-size: 14px;
      margin: 15px auto;
    }
  }
  &__btn{
    margin: 0 auto;
    line-height: 29px;
  }
}

.footer{
  height: 60px;
  text-align: center;
  color: $semi-gray;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 20px 0;
}
