* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
form, input, textarea, button, select, option,
ul, li, img, p, hr,
table, tr, td, thead, tbody, tfoot
{
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

input, textarea, button, select {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

button {cursor: pointer;}

a {color: #2ca3ee; text-decoration: none;}
a:hover {text-decoration: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul, li {
	list-style: none;
}

::-webkit-input-placeholder {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #7d7d7d;
}

:-moz-placeholder {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #7d7d7d;
}

:focus {
	outline: 0;
}

::-moz-selection {
	color: #fff;
	background: #2ca3ee;
}

::selection {
	color: #fff;
	background: #2ca3ee;
}

code {
	padding: 2px 4px;
	color: #c7254e;
	background-color: #f9f2f4;
	font-family: 'Courier New';
	font-size: 90%;
}
