input, button, .btn{
	@extend %control-element;
}

input{
	&::-webkit-input-placeholder {
	  color: $primary-gray;
	}
	&::-moz-placeholder {
	  color: $primary-gray;
		opacity: 1;
	}
	&:-ms-input-placeholder {
	  color: $primary-gray;
	}
	&:-moz-placeholder {
	  color: $primary-gray;
		opacity: 1;
	}
}

.btn{
	@extend %transition;
	display: inline-block;
	width: 200px;
	text-align: center;
	text-transform: uppercase;
	color: $primary-white;
	font-family: $secondary-font;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 1px;
	&:hover, &:active, &:focus{
		opacity: 0.8;
	}
	&--small{
		width: 170px;
	}
	&--square{

	}
	&--rounded{
		border-radius: ($control-element-height - 1px) / 2;
	}
	&--transparent{
		&-white{
			background-color: transparent;
			border: 1px solid $primary-white;
			color: $primary-white;
			height: 48px;
			&:hover, &:active, &:focus{
				background-color: $primary-white;
				color: $primary-mixed;
				opacity: 1;
			}
		}
		&-gradient{
			border: 1px solid $primary-mixed;
			color: $primary-mixed;
			background: transparent;
			@supports (-webkit-background-clip: text){
				border: none;
				padding: 0;
				overflow: hidden;
				background-color: $primary-mixed;
				background-image: linear-gradient(90deg, $primary-blue 0%, $primary-violet 100%);
				&:before{
					@extend %transition;
					content: '';
					display: inline-block;
					position: absolute;
					top: 1px;
					left: 1px;
					right: 1px;
					bottom: 1px;
					background-color: #fff;
					border-radius: 21px;
				}
				& > span{
					@extend %transition;
					position: relative;
			    display: inline-block;
			    width: 100%;
			    height: 43px;
			    line-height: 43px;
					border-radius: 21px;
					color: transparent;
					background-color: $primary-mixed;
					background-image: linear-gradient(90deg, $primary-blue 0%, $primary-violet 100%);
			    -webkit-background-clip: text;
				}
				&:hover, &:active, &:focus{
					opacity: 1;
					&:before{
						background-color: transparent;
					}
					& > span {
						color: #fff;
					}
				}
			}
		}
	}
	&--gradient{
		@extend %gradient-left-right;
		border: none;
		&:hover, &:active, &:focus{
	  	@extend %gradient-left-right-animation;
			opacity: 1;
		}
	}
}

.hr{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #f0f0f0;
	margin: $section-padding 0;
	@include tablet{
		margin: $section-padding-tablet 0;
	}
	@include phone{
		margin: $section-padding-phone 0;
	}
	@include smphone{
		margin: $section-padding-smphone 0;
	}
}
