.sprite-envato, .sprite-spotify, .sprite-less, .sprite-bullhorn, .sprite-charts,
.sprite-github, .sprite-bust, .sprite-apple, .sprite-scroll-icon
{ display: inline-block; background: url('../images/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.sprite-envato { background-position: -1px -0px; width: 121px; height: 23px; }
.sprite-spotify { background-position: -1px -24px; width: 115px; height: 34px; }
.sprite-less { background-position: -1px -59px; width: 79px; height: 30px; }
.sprite-bullhorn { background-position: -1px -90px; width: 50px; height: 44px; }
.sprite-charts { background-position: -52px -90px; width: 50px; height: 44px; }
.sprite-github { background-position: -1px -135px; width: 40px; height: 39px; }
.sprite-bust { background-position: -42px -135px; width: 38px; height: 50px; }
.sprite-apple { background-position: -81px -135px; width: 30px; height: 37px; }
.sprite-scroll-icon { background-position: -81px -59px; width: 20px; height: 10px; }
