$smdesk-width: 992px;
$tablet-width: 768px;
$phone-width: 480px;
$smphone-width: 320px;

$background: #ffffff;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$tertiary-font: 'Merriweather', serif;

$primary-white: #ffffff;
$semi-white: #fafafa;
$primary-gray: #eeeeee;
$primary-black: #000000;
$semi-black: #333333;
$semi-gray: #999999;
$primary-blue: #5f72bd;
$primary-violet: #9b23ea;
$primary-mixed: mix($primary-blue,$primary-violet,50%);

$header-background: rgba(51, 51, 51, 0.4);

$transition: 0.3s;
$transition-fast: 0.2s;
$transition-delay-fast: 0.3s;
$transition-long: 0.5s;

$border-radius: 3px;
$control-element-height: 45px;
$control-element-padding: 8px 20px;
$control-element-line-height: 27px;
$control-element-border: 1px solid transparent;

$section-padding: 100px;
$section-padding-tablet: 60px;
$section-padding-phone: 50px;
$section-padding-smphone: 40px;
